@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins" sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1vw;
  height: 1vh;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

::-webkit-scrollbar-track {
  background: #eee;
}

nav,
.hero {
  padding: 1rem 4vw;
}

.colored-letters {
  background-image: linear-gradient(
    240deg,
    hsla(159, 82%, 55%, 1) 0%,
    hsla(206, 98%, 48%, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  border-image: fill 1
    linear-gradient(
      140deg,
      hsla(202, 71%, 27%, 0.65) 0%,
      hsla(176, 45%, 66%, 0.3) 100%
    );
}

header {
  background-image: url(./assets/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media screen and (max-width: 375px) {
  header {
    background-image: url(./assets/hero-bg-mobile.jpg);
  }
}

.hero-btn::after {
  border-radius: inherit;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    240deg,
    hsla(159, 82%, 55%, 0.6) 0%,
    hsla(206, 98%, 48%, 0.6) 100%
  );
  transition: all 280ms ease-out;
}

.hero-btn::before {
  border-radius: inherit;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: black;
  z-index: -1;
}

.hero-btn:hover::after {
  opacity: 1;
}
