@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins" sans-serif;
  scroll-behavior: smooth;
}

.hero {
  padding: 1rem 4vw;
}

header {
  border-image: fill 1
    linear-gradient(hsla(0, 84%, 30%, 0.4) 0%, hsla(25, 95%, 23%, 0.4) 100%);
}

header {
  background-image: url(./assets/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media screen and (max-width: 375px) {
  header {
    background-image: url(./assets/hero-bg-mobile.jpg);
    background-position: right;
  }
}

.shop-now-btn::after {
  border-radius: inherit;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    140deg,
    hsla(0, 84%, 65%, 1) 0%,
    hsla(25, 95%, 58%, 1) 100%
  );
  transition: all 280ms ease-out;
}

.shop-now-btn::before {
  border-radius: inherit;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index: -1;
}

.shop-now-btn:hover::after {
  opacity: 1;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-moz-search-cancel-button {
  display: none;
}
